<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver detail</title>
</head>
<body>
    <h4>Detail řidiče: <span th:text="${driver.getName()}"></span></h4>
    <ul>
        <li>Věk: <span th:text="${driver.getAge()}"></span></li>
        <li>Plat: <span th:text="${driver.getSalary()}"></span></li>
    </ul>
    <a th:href="@{'/drivers/edit/' + ${driver.id}}">Editace řidiče</a>
    <a th:href="@{'/drivers/delete/' + ${driver.id}}">Smazání řidiče</a>

</body>
</html>