<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <h1 class="btn">PPRO project</h1>
            <a th:href="@{'/cars/'}">Seznam vozidel</a><br>
            <br>
            <a th:href="@{'/drivers/'}">Seznam řidičů</a>
        </div>
    </section>
</body>
</html>