<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <meta charset="UTF-8">
    <title>Seznam registrací</title>
</head>
<body>
  <section layout:fragment="content" class="container">
    <h3 class="text-center mb-5 mt-3">Seznam registrací na události</h3>
    <hr>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Událost</th>
        <th scope="col">Dobrovolník</th>
        <th scope="col" colspan="2">Tlačítka</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="registration: ${registrations}">
        <th scope="row" th:text="${registration.getDateString()}"></th>
        <td th:text="${registration.project.getName()}"></td>
        <td th:text="${registration.user.getUsername()}"></td>
        <td><a class="btn btn-sm btn-success"
               th:href="@{'/projects/detail/' + ${registration.project.getId()}}">Více o události <i class="bi bi-eye"></i></a>
        </td>
        <td><a class="btn btn-sm btn-outline-danger"
               th:href="@{'/registrations/delete/' + ${registration.project.getId()}}"
               onclick="return confirm('Opravdu si přejete odeberat registraci na tuto událost?')">Odebrat registraci <i class="bi bi-person-dash-fill"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

</body>
</html>