<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <meta charset="UTF-8">
    <title>Přihlásit se na projekt</title>
</head>
<body>
    <section layout:fragment="content" class="container">
        <h3 class="text-center mb-5 mt-3">Nový projekt</h3>
        <hr>
        <form th:action="@{'/registrations/save'}" method="post" th:object="${registration}">
            <div class="mb-3">
                <label for="projectName" class="form-label">Název projektu</label>
                <input type="text" class="form-control" id="projectName" th:field="*{project}" aria-describedby="projectNameWarning">

            </div>
            <button type="submit" class="btn btn-primary">Vytvořit novou událost</button>
        </form>
    </section>

</body>
</html>